sudo: required
language: java
jdk:
- openjdk11
services:
- docker
before_install:
- export COMMIT_SHORT=$(git rev-parse --short HEAD)
script:
- |
  set -e
  if [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "${TRAVIS_BRANCH}" = "master" ]; then
    mvn clean install && docker build --pull -t $DOCKER_IMG_NAME:$COMMIT_SHORT .

    echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
    docker push $DOCKER_IMG_NAME:$COMMIT_SHORT

  fi
after_success:
  - |
    curl -X POST -H 'Content-Type: application/json' -H 'Accept: application/json' -H 'Travis-API-Version: 3' -H 'Authorization: token $TRAVIS_API_TOKEN' -d '{"request": {"branch":"master"}}' https://api.travis-ci.com/repo/navikt%2Fhelse-e2e/requests
env:
  global:
  - DOCKER_IMG_NAME=navikt/spvtpmock
  - secure: wQREHTu5DeXMDjzVar+Fkos1lOkVSECk3g7ut1o5JCbt3mZ9daKvjra41KSzjybrFefi2z1CDPZGYhHPvaaXcoFuzBvkmRZKisav8QrICzkTFHukBY+3CVULu7nR/XwX9TGhWdAAsDNbfNZ/EVcPmvrN1K9gog+PNafE80/gQP1UieUos+ny+mtE00n+0pl7f9hDYOQhN0ghSTJjhUUvCoIxpL7g2WBjf5vNkVzonk2kwJSFzl8dgwY5tncCYt5WA6LOaGMBHQFd6iNxnX6YkCdDIvMeMbEqORPAl5bjXyKl9Ngz5NHlOs1H70EdSfWG2MNBOc8LJGo6V/MII1eq24BAiuXtLBLcXU7zAdQIvFXbOdQDqkvdYUe9VzlpB3/x2nim1KUR0EqqYEcK5/7e+/aFGim2UjTlEQ5EwQ1dmDcEgjsfdTz/DIGoV8F+NdkWVMsqhWyGdK8HSQGa7NOyQFskOOdfvPVsvon39xwPP7GuSRTOQsGonEdoXA+kceUU6Pk/BnTPYhKG7yJOyDT1RbBilHXI+AVDALeHerawYzX21oE3n2QHuy+N784ktsW+tnpEiENcX71k+UmXPDENHngv7UKTlr4dGbSVc505oEGtvuuEdxwERqh+IZXFV0w7tFNNmpTOPStJkUG7M/Lb9ieuoYKGIJ5p/7/maZwkUG4=
  - secure: HnaL9ARSfQyw63GhNxvv7s5lC1xGXJyDs36OtMx+F4gx3IYar7ZfD12dIAjyYzqfdywRKYTOPw5FCH3UWgG0yngInOREIFu+VffTzW/yXA5mxG4hwltmqOB4+62+GQlzZeYYhg3hZNpjGIQvytmwix+qfcrIPWP71fenl8GmwNCT4MYmnMCE6XD+LDN3YyiFVNO1981ELIr6YUKBZ9h3ZK+zTeBEn79dbe9/LxhTqGDd4lCq2JA8A1Tf1fzxvjoBmx9oOlgwYZadDFYEI+tDMu5tJ74zcT+gwoKmW+653b4OcdNSjae/+jDOHfaZQtuNytogB09DGAll8MsM/XgB393fM7Km9Ip+qVkBH8b1ZmZrwx9qtOlp8MlH9FOFyDFiePFNSyB5dIflmiyE1addzj+mUgT1dvNeZ2WCQiVzO4FSWi5rMO66fyCmRKuAzQLP9pFLJp6QpaicIjC5PXL+Mh0iRB0/1Q/vG1EAuAwTqFykgp735Km1atLjuTIZiNPAdDh2yXZ9rZb9+cJWNXyK4erCzNE/SNcV0KVK/kE56+pY1vTBPkPZw5GqKsritSOnpgIbf8//o1erGIXYDGb676O3JEFoI4JNL5emxPOhAQkusQoxayCLSPC0fwbbCSu1ggxAmc0vTwM7M2MIEkm5+q7ctReBD9Bi9k7bWHjkHLY=
  - secure: vE3CYVNZcnOxnEl+4Zf7Fu0fG0uHL24bh5NtMFJB1lPGhtcfvdnXPzRlalA4YGOBF9vcR/EibOx/Bbz56DYsqudM+hN4rWoj6v5vWxPPk8ysdGFTjRV9xpJW/qCRbR/AxB9t707pGe+I07qsYcn9WXCIQhBtiAwVwfaMYTQ0g1J/aQwFrKR1metCJPbEq4q3GdzIOa/mF6lInNMv0DFRNh9nFKrJZvmBGi4QhOiHYHnHihiRDAnbT/sf0I5gDgVxRYPRzxbQJolDbY+2z/DZodbtxH2vGwME4UOp4naBqbj0U8oVXI+5RqlqVkrE864GRsGHDHNZWbB+z7KJ/bCoVzHDZSW+plIb2okuI73XOQmK49M8zWo4T9nPnsXYIkkwcXyu2TP0dAnLTYeEj8R+3oZ3h5pSrIv6v+fg9vJDOHhoW+WhUcGDZcZNaw5ZVJNQFEWuHrep6pSkE4mKa9TiCLzpVvWw/ebnYEKoodmQoG5YNUucyNhBFdta6sFiywWGJh/BTW5AplwqlbLqnPV6w/sEeQWYjV5Uk4GTgIdyyrZ+qtvC5sEwSfm12tSG/mX783nY+HZvPIGApMFkFJm6VZLlWlZm3/ma33hInFKaiULbmmX6ZErdXb/JpNTB3nxNxkP2OpIZd1MkEotWX2tUbzmVF6sA9IN66UrEE8hTnok=
notifications:
  slack: false
    #secure: Lx2JBWWBZBzGkKQXI5OKEurEciRUa15EfFEWYsdsjb8FM2aTGmSfjKHJOY+hpsg30pBod0jdhJ2PyPmCo5eBNPONdDM1pd4evjlwijljb+MICcOhPYCTWFTKYkKeoSCtBQ4kyw+GW+Hcw1PTGEJHS/PuIszguSrmtGiREgkzJAiNksaU21b4ARbUSF3I2pG1mbgHvFCRFUSdq5AG04rXprLfpVu0ghuK2lSx74kD9qrV8/6Sv60WBdHIPGJbAPX6kCah+aNcSLqjejELjktogHYQNRsTkSlgX0ngd0H68AOqt6tkkg2WMKEXsjHlIx11qhZ70Ln3ZG+nT9UYJ5VpowGzkHb1v2McBBXIRXz5t7Fdjq1lupYxIoj4sS23TbY0zgnpaO53PB7nPpZzwZGHVV0snkLbVymsJUQ1Cc35N05k+Z5jWnJ+JXm/MsPhuxGrTrXY4j2MlBDB3JTXaswI7E2sZtMXeysKGNiah+AZQ8Bn8HzGQB81U0CMlCkFBkK/f0GqIpb9YbmLlZCkXBOk6DU5uUtuzHVDAuFXtbnlBdmbcpxW30mzAihwLDor1KfAfLJbhFBRklho60mzc2oxGrHUlzxG/bewJlfO+Ak+rYsj5NMVmckGGCUNmd+toA9f32ww4ISKiksnoWuBMUQQzKoSvT/qpR0GOrYg8BfsQyk=
